@import "tailwindcss";


body {
    overflow-x: hidden;
}

body.sc {
    overflow-y: hidden;
}

button {
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin-inline: auto;
}

.overlay {
    width: 100%;
    height: 100vh;
    background-color: #0003;
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    transition: 0.1s ease-out;
    display: none;
}

.overlay.active {
    display: block;
}

.drawer {
    position: fixed;
    top: 0;
    right: -70%;
    height: 100vh;
    border-left: 3px solid #fff;
    width: 70%;
    background-color: #B00000;
    z-index: 100;
    transition: 0.2s ease-out;
}

.drawer.active {
    right: 0;
}


/* @media (max-width: 640px) {
    #drawer {
        display: flex;
    }
} */





#tabletMenues.active {
  display: flex !important;
}

.contentView {
    display: none;
    transition: 0.3s;
    animation: topPulse 0.3s ease-out;
}

@keyframes topPulse {
    0% { transform: translateY(-50px); opacity: 0.5; }
    20% { opacity: 0; }
    100% { transform: translate(0); }
}

.contentView.active {
    display: flex;
}

.viewBtn.active {
    color: #B00000;
    border-color: #B00000;
}

.checkBox {
    transition: background-color 0.2s ease-out;
}

.chackCircle {
    width: 34px;
    height: 34px;
    background: #fff;
    border-radius: 100%;
    transform: translateX(0);
    transition: transform 0.2s ease-out;
}

@media (max-width: 640px) {
    .chackCircle {
        width: 26px;
        height: 26px;
    }

    .checkBox.active .chackCircle {
        transform: translateX(38px) !important;
    }
}

.checkBox.active {
    background-color: #B00000;
}

.checkBox.active .chackCircle {
    transform: translateX(43px);
}

/* Started Section */
.startedCon {
    display: none;
}

.startedCon.active {
    display: flex;
    gap: 100px;
}

.startedBtn {
    transition: 0.3s ease-out;
}

.startedBtn.active {
    border-color: #B00000;
}

#basicCon { animation: str 0.3s ease-out; }
#premiumCon { animation: str2 0.3s ease-out; }

@keyframes str {
    0% { transform: translateX(-50px); opacity: 0.5; }
    20% { opacity: 0; }
    100% { transform: translate(0); }
}

@keyframes str2 {
    0% { transform: translateX(50px); opacity: 0.1; }
    20% { opacity: 0; }
    100% { transform: translate(0); }
}

.cusq {
    opacity: 0.4;
}